[Desktop Entry]
Exec=kcmshell5 inspiredecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/inspiredecoration
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Inspire Window Decoration
Name[en_GB]=Inspire Window Decoration
Comment=Modify the appearance of window decorations
Comment[en_GB]=Modify the appearance of window decorations
X-KDE-Keywords=inspire,decoration
X-KDE-Keywords[en_GB]=inspire,decoration
