[Desktop Entry]
Exec=kcmshell5 inspiredecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/inspiredecoration
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Inspire Window Decoration
Name[ar]=زخرفة نوافذ نسيم
Name[az]=Inspire Pəncərə Tərtibatı
Name[ca]=Decoració de les finestres Brisa
Name[ca@valencia]=Decoració de les finestres Brisa
Name[cs]=Dekorace oken Inspire
Name[da]=Inspire vinduesdekoration
Name[de]=Inspire-Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου Inspire
Name[en_GB]=Inspire Window Decoration
Name[es]=Decoración de ventanas Brisa
Name[et]=Inspire akna dekoratsioon
Name[eu]=Inspire leihoen apaindura
Name[fi]=Inspire-ikkunankehys
Name[fr]=Décoration de fenêtre Brise
Name[gl]=Decoración de xanela de Inspire
Name[hi]=ब्रीज़ विंडो सजावट
Name[hu]=Inspire ablakdekoráció
Name[ia]=Decoration de fenestra Inspire
Name[id]=Dekorasi Window Inspire
Name[it]=Decorazione delle finestre di Brezza
Name[ja]=Inspire ウィンドウ装飾
Name[ko]=Inspire 창 장식
Name[lt]=Inspire langų dekoracija
Name[nl]=Inspire vensterdecoratie
Name[nn]=Inspire-vindaugsdekorasjon
Name[pa]=ਬਰੀਜ਼ ਵਿੰਡੋ ਸਜਾਵਟ
Name[pl]=Wygląd okien Bryzy
Name[pt]=Decoração de Janelas Brisa
Name[pt_BR]=Decorações da janela Inspire
Name[ro]=Decorații pentru ferestre Briză
Name[ru]=Оформление окон Inspire
Name[sk]=Dekorácie okien v štýle Vánok
Name[sl]=Okraski oken Sapica
Name[sr]=Поветарчева декорација прозора
Name[sr@ijekavian]=Поветарчева декорација прозора
Name[sr@ijekavianlatin]=Povetarčeva dekoracija prozora
Name[sr@latin]=Povetarčeva dekoracija prozora
Name[sv]=Inspire fönsterdekoration
Name[tg]=Ороиши равзанаи Насим
Name[tr]=Inspire Pencere Dekorasyonu
Name[uk]=Декорації вікон Inspire
Name[x-test]=xxInspire Window Decorationxx
Name[zh_CN]=Inspire 微风窗口装饰
Name[zh_TW]=Inspire 視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ar]=عدّل مظهر زخرفات النّوافذ
Comment[az]=Pəncərə tərtibatının görünüşünü dəyişdirin
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[ca@valencia]=Modifica l'aparença de les decoracions de les finestres
Comment[cs]=Změnit vzhled dekorace oken
Comment[da]=Ændr vinduesdekorationers udseende
Comment[de]=Das Erscheinungsbild der Fensterdekorationen ändern
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[et]=Akna dekoratsioonide välimuse muutmine
Comment[eu]=Aldatu leiho apainduren itxura
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[fr]=Modifier l'apparence des décorations des fenêtres
Comment[gl]=Modifica a aparencia da decoración da xanela
Comment[he]=התאם את מראה מסגרות החלונות
Comment[hi]=विंडो सजावटों की दिखावट को परिवर्तित करें
Comment[hu]=Az ablakdekorációk megjelenésének módosítása
Comment[ia]=Modifica le apparentia de decorationes de fenestra
Comment[id]=Memodifikasi penampilan dekorasi window
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[ja]=ウィンドウ装飾の外観を編集
Comment[ko]=창 장식의 모습을 수정합니다
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nb]=Endre utseende for vindusdekorasjoner
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[nn]=Endra utsjånad på vindaugspynt
Comment[pa]=ਵਿੰਡੋ ਸਜਾਵਟ ਦੀ ਦਿੱਖ ਨੂੰ ਸੋਧੋ
Comment[pl]=Zmień wygląd i wystrój okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[ro]=Modifică aspectul decorațiilor pentru ferestre
Comment[ru]=Настройка заголовков окон в стиле Inspire
Comment[sk]=Zmena vzhľadu dekorácie okien
Comment[sl]=Spremenite videz okraskov oken
Comment[sr]=Измените изглед декорација прозора
Comment[sr@ijekavian]=Измијените изглед декорација прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracija prozora
Comment[sr@latin]=Izmenite izgled dekoracija prozora
Comment[sv]=Ändra utseendet hos fönsterdekorationer
Comment[tg]=Тағйир додани ороиши намуди зоҳирии равзанаҳо
Comment[tr]=Pencere dekorasyonlarının görünümünü değiştir
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾外觀
X-KDE-Keywords=inspire,decoration
X-KDE-Keywords[ar]=نسيم,زخرفة
X-KDE-Keywords[az]=inspire,dekorasiya
X-KDE-Keywords[ca]=inspire,brisa,decoració
X-KDE-Keywords[ca@valencia]=inspire,brisa,decoració
X-KDE-Keywords[cs]=inspire,dekorace
X-KDE-Keywords[da]=inspire,dekoration
X-KDE-Keywords[de]=Dekoration
X-KDE-Keywords[el]=inspire,διακόσμηση
X-KDE-Keywords[en_GB]=inspire,decoration
X-KDE-Keywords[es]=inspire,brisa,decoración
X-KDE-Keywords[et]=inspire,dekoratsioon
X-KDE-Keywords[eu]=inspire,apainketa,apaindura
X-KDE-Keywords[fi]=inspire,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[fr]=brise,décoration
X-KDE-Keywords[gl]=inspire,decoración
X-KDE-Keywords[he]=inspire,decoration,מסגרת
X-KDE-Keywords[hi]=ब्रीज़, सजावट
X-KDE-Keywords[hu]=inspire,dekoráció
X-KDE-Keywords[ia]=inspire,decoration
X-KDE-Keywords[id]=inspire,dekorasi
X-KDE-Keywords[it]=brezza,decorazione
X-KDE-Keywords[ja]=inspire,decoration
X-KDE-Keywords[ko]=inspire,decoration,장식
X-KDE-Keywords[lt]=inspire,dekoracija
X-KDE-Keywords[nb]=beeze,dekorasjon
X-KDE-Keywords[nl]=inspire,decoratie
X-KDE-Keywords[nn]=inspire,dekorasjonar,pynt
X-KDE-Keywords[pa]=ਬਰੀਜ਼,ਸਜਾਵਟ
X-KDE-Keywords[pl]=inspire,dekoracja,bryza,wystrój
X-KDE-Keywords[pt]=brisa,decoração
X-KDE-Keywords[pt_BR]=inspire,decoração
X-KDE-Keywords[ro]=briză,inspire,decorare,decorație
X-KDE-Keywords[ru]=inspire,бриз,decoration,декорации окон,оформление окон
X-KDE-Keywords[sk]=vánok,dekorácia
X-KDE-Keywords[sl]=sapica,okraski
X-KDE-Keywords[sr]=inspire,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavian]=inspire,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavianlatin]=inspire,decoration,Povetarac,dekoracija
X-KDE-Keywords[sr@latin]=inspire,decoration,Povetarac,dekoracija
X-KDE-Keywords[sv]=inspire,dekoration
X-KDE-Keywords[tg]=насим,ороиш
X-KDE-Keywords[tr]=esinti,dekorasyon
X-KDE-Keywords[uk]=inspire,decoration,бриз,декорації,декорація,обрамлення
X-KDE-Keywords[x-test]=xxinspirexx,xxdecorationxx
X-KDE-Keywords[zh_CN]=inspire,微风,装饰,修饰
X-KDE-Keywords[zh_TW]=inspire,decoration
